.App {
  text-align: center;
 
  width: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  font-size: 25px;
  color: gray;
  padding: 20px;
}
.fa-pinterest-square{
  color: red;
  border-radius: 50%;
}
input{
  width: 90%;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
}
.header button{
  background-color: black;
  color: white;
  border: 0;
  font-weight: bold;
  padding: 15px;
  border-radius: 40%;
}
.input-wrapper {
  display:inline-block;
  width: 75%;
  position: relative;
}
.fa-search {
  position: relative;
  left:  40px;
  top: 8px;
}
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imageContainer{
  column-count: 3;
  column-gap: 15px;
  width: 95%;
}
@media (max-width:1200px){
  .imageContainer {
    column-count: 2;
  }
  }
  @media (max-width:600px){
    .imageContainer {
      column-count: 1;
    }
    }
.card{
  border-radius: 5%;
  display: inline-block;
  
  border: 1px solid purple;
}
.shell{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;

  
}

.card img{
  border-radius: 5%;
 
}


.buttonBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  margin: 0;
  bottom: 0px;
  width: 50%;
  height: 50px;
  background-color: black;
  z-index: 3;
}

h4{
  color: green;
  float: left;
  margin: 0;
}
.out{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.popup-background {
  visibility: hidden;
  position: absolute;
  border-radius: 15px;
  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.card:hover .popup-background{
  visibility: visible;
}
