.App {
  text-align: center;
  width: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: gray;
  padding: 20px;
}

.fa-pinterest-square{
  color: red;
  border-radius: 50%;
}

.fa-pinterest-square:hover{
  cursor: pointer;
}

input{
  width: 90%;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(230, 230, 230);
  border:0;
  padding-left: 40px;
  font-size: 15px;
  
}

input:hover{
  background-color: rgb(189, 189, 189);
}

.header button{
  background-color: black;
  color: white;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  border-radius: 40%;
  cursor: pointer;
}

.input-wrapper {
  width: 70%;
  height: 100%;
}

.fa-search {
  position: relative;
  display: inline-block;
  left:  40px;
  font-size: 25px;
  top: 5px;
}

.header i{
  margin-right: 10px;
  cursor: pointer;
}

.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} 

.imageContainer{
  column-count: 3;
  column-gap: 20px;
  width: 95%;
}

@media (max-width:1200px){
  .imageContainer {
    column-count: 2;
  }
  }

  @media (max-width:600px){
    .imageContainer {
      column-count: 1;
    }
    }

.card{
  border-radius: 5%;
  display: inline-block;
}

.card img{
  border-radius: 5%;
}

.shell{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.shell img{
  border-radius: 15px 0px 0px 15px;
}

.buttonBox{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50% 20% 20%;
  position: absolute;
  margin: 0;
  bottom: 0px;
  width: 90%;
  padding: 10px;
  height: 40px;
  background-color: black;
  z-index: 3;
}

.one{
  flex-basis: 60%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 40%;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border:0;
  font-size: 16px;
  width: 90px;
  height: 50px;
}

.two{
  flex-basis: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(216, 216, 216);

}

.saveButton{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  padding-right: 20px;
  padding-top: 20px;
  margin: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 50px;
  z-index: 3;
}
.saveButton button{
  border-radius: 40%;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border:0;
  font-size: 16px;
  width: 90px;
  height: 50px;
  
}
h4{
  color: green;
  float: left;
  margin: 0;
}
.out{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.popup-background {
  visibility: hidden;
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card:hover .saveButton{
  visibility: visible;
}

.card:hover .popup-background{
  visibility: visible;
}
.card:hover .buttonBox{
  visibility: visible;
}

.ImagePage{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.doubleView{
  display: flex;
  flex-direction: row;
  width: 800px;
  padding: 15px;
}

.imageLeft, .imageDetails{
  flex-basis: 50%;
}

.profileDetails{
  display: flex;
  background-color: red;
  width: 100%; 
}

.blockOne{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockOne img{
  border-radius: 50%;
  
}

.blockTwo{
  background-color: black;
  margin-left: auto
}

.action{
  width: 100%;
  height: 200px;
}
.selector button{
  float: left;
  
}

.g{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.m{
  column-count: 3;
  column-gap: 15px;
  width: 95%;
}

.bbBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50% 20% 20%;
  
  margin: 0;
  bottom: 0px;
  width: 90%;
  padding: 10px;
  height: 40px;
  background-color: black;
  z-index: 3;
}
.actionBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  bottom: 0px;
  width: 90%;
  padding: 10px;
  height: 40px;
  background-color: black;
  z-index: 3;
}
.actionSave{
  
  flex-basis: 10%;
  height: 100%;
  border-radius: 20px;
  border-radius: 40%;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border:0;
  font-size: 16px;
  width: 90px;
  
}
.actionLeft{
  flex-basis: 30%;
}
.actionLeft button{
  height: 30px;
  width: 50%;
  border-radius: 20px;
  background-color: rgb(216, 216, 216);

}
.des{
  font-size: 20px;
  color: black;
}